<!-- FOOTER -->
<div id="footer">
    <footer class="navbar-default">
        <div class="container-fluid text-center">

            <h5>Designed and Developed by Jerome King</h5>
            <a href="http://www.github.com/jeromeaking40">
                <i class="fa fa-github"></i>
            </a>
            <a href="http://www.linkedin.com/in/jerome-king-7b6b8a92">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="mailto:jeromeaking40@yahoo.com">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
    </footer>
</div>
<!--END OF FOOTER-->
