<!--INTRODUCTION -->
<div class="jumbotron text-center">
<div class="container">
        <h1>Hungry?</h1>
        <p class="lead">Dishquest allows you to search for a specified dish you want and give back a list of results in your local area! Go on and sign for a free account and get on your quest!</p><br>
    </div>
</div>

<!--SITE INFO-->
<div class="container text-center">
    <div class="row marketing">
        <div class="col-sm-6 text-center">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
            <h2>SEARCH</h2><hr class="style2">
            <p class="lead">Hungry for a certain type of food? Hot Choco, Quinoa, or Pizza Burger? Search for what your craving and see what places in your area offer that dish!</p>
        </div>

        <div class="col-sm-6 text-center">
          <i class="fa fa-users" aria-hidden="true"></i>
            <h2>FRIENDS</h2><hr class="style2">
            <p class="lead">Want to know closet friends favorite spots? Find out the places they been holding back from you! Add them and share.</p>
        </div>
      </div>
    </div>
