.navbar-default .navbar-brand {
    font-family: $stack-ravi;
    text-shadow: $secondary-color 0.3em 0.3em 0.3em;
    color      : $hover-color;
    display    : inline;
    font-size  : 25px;

    &:hover {
        color: $third-color;
    }
}

.nav {
    background-color: $primary-color;
}

li a {
    color        : $secondary-color;
    border-radius: 5px;

    &:hover {
        color: $third-color;
    }
}

.navbar-toggle {
    position        : relative;
    float           : right;
    padding         : 9px 10px;
    margin-top      : 8px;
    margin-right    : 15px;
    margin-bottom   : 8px;
    background-color: transparent;
    background-image: none;
    border          : 1px solid transparent;
    border-radius   : 4px;
}

.dropdown-menu > li > a {
    color: $secondary-color;

    &:hover {
        background-color: $primary-color;
        color           : $third-color;
    }
}
