//COLORS
$primary-color  : #000B29;
$secondary-color: #D70026;
$hover-color    : #F8F5F2;
$third-color    : #EDB83d;
//FONTS
$stack-ravi     : 'Ravi Prakash', cursive;
$stack-raleway  : 'Raleway', sans-serif;
