.formregister {
    max-width    : 400px;
    margin       : 10px auto;
    padding      : 40px;
    background   : #f4f7f8;
    border-radius: 8px;
    font-family  : $stack-raleway;
    margin-top   : 25px;
}

.btn-defaultlogin {
    padding      : 8px 12px;
    color        : #FFF;
    font-size    : 18px;
    text-align   : center;
    font-style   : normal;
    width        : 100%;
    border-width : 1px 1px 3px;
    box-shadow   : 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
    margin-top   : 15px;
}

label {
    display      : block;
    margin-bottom: 8px;
}

label.light {
    font-weight: 300;
    display    : inline;
}
